.defectsHeader, .storiesHeader, .notesHeader {
    font-weight: bold;
    margin-top: 20px;
}

.loading {
    margin-left: 20px;
}

.header {
    line-height: 30px;
    vertical-align: middle;
}

.notes, .additionalInfo {
    padding-top: 10px;
}